asgiref==3.7.2
Brotli==1.1.0
Django==4.2.5
django-crispy-forms==2.0
djangorestframework==3.14.0
djangorestframework-api-key==2.3.0
gunicorn==21.2.0
packaging==23.2
Pillow==10.0.1
pypng==0.20220715.0
pytz==2023.3.post1
qrcode==7.4.2
sqlparse==0.4.4
typing-extensions==4.8.0
whitenoise==6.5.0
